<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" xmlns:th="http://www.thymeleaf.org">
        <div sec:authorize="isAuthenticated()">
            <a class="navbar-brand" th:href="@{/welcome}" th:utext="#{Foodorder.name}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto" style="float: right; text-align: right;">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/menu}" th:utext="#{menu.title}"><span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav text-right">
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{''(lang=en)}" th:utext="#{language.english}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{''(lang=ru)}" th:utext="#{language.russian}"></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link disabled" th:utext="#{welcome.hello.message} + ', ' + ${#request.userPrincipal.getName()}"></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:if="${#request.userPrincipal.name} != null" th:href="@{/logout}" th:utext="#{welcome.logout.message}"></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

