<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:utext="#{registration.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

<th:block th:include="/header"></th:block>

<div class="container">

    <form method="POST" th:action="@{/registration}" th:object="${userForm}" class="form-signin">
        <h2 class="form-signin-heading" th:utext="#{registration.show}"></h2>


        <div class="form-group">
            <label for="name" th:utext="#{user.name.field}"></label>
            <input type="text" class="form-control" id="name"
                   placeholder="Username" autofocus="autofocus" th:field="*{username}"/>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red; font-style:italic;">
        </div>

        <div class="form-group">
            <label for="phoneNumber" th:utext="#{user.phone.field}"></label>
            <input type="text" class="form-control" id="phoneNumber" placeholder="Phone" th:field="*{phoneNumber}"/>
            <small id="phoneHelp" class="form-text text-muted">We'll never share your phone with anyone else.</small>
            <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: red; font-style:italic;">
        </div>

        <div class="form-group">
            <label for="password" th:utext="#{user.password.field}"></label>
            <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}"/>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red; font-style:italic;">
        </div>

        <div class="form-group">
            <label for="passwordConfirm" th:utext="#{user.confirmPassword.field}"></label>
            <input type="password" id="passwordConfirm" class="form-control"
                   placeholder="Confirm your password" th:field="*{passwordConfirm}"/>
            <p th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"
               style="color: red; font-style:italic;">
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" th:utext="#{confirm.button}"></button>
    </form>

</div>

<th:block th:include="/footer"></th:block>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>